body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    animation: change 20s infinite ease-in-out;
  }
  
  #app {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 32px;
    margin-top: 0;
  }
  
  form {
    display: flex;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    margin-right: 10px;
  }
  
  button[type="submit"] {
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    background-color: green;
    color: white;
    cursor: pointer;
  }
  
  label {
    margin-left: 10px;
    font-size: 16px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  li span {
    flex: 1;
    font-size: 16px;
  }
  
  li button {
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    margin-left: 10px;
    cursor: pointer;
  }
  
  #hide-completed {
    margin-right: 10px;
    color: white;
  }
  
  button[type="button"] {
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    background-color: #e74c3c;
    color: white;
    cursor: pointer;
    margin-top: 10px;
  }
  .hapus {
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    background-color: green;
    color: white;
    cursor: pointer;
  }
  .nama-pemilik {
    text-align: center;
    color: white;
  }

  @keyframes change {
    0%
    {
        background-image: url(wallpaperflare.com_wallpaper5.jpg);
    }
    20%
    {
        background-image: url(wallpaperflare.com_wallpaper6.jpg);
    }
    40%
    {
        background-image: url(wallpaperflare.com_wallpaper7.jpg);
    }
    60%
    {
        background-image: url(wallpaperflare.com_wallpaper8.jpg);
    }
    80%
    {
        background-image: url(wallpaperflare.com_wallpaper9.jpg);
    }
    100%
    {
        background-image: url(wallpaperflare.com_wallpaper10.jpg);
    }
  }